<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
			<div class="forms">
				<span class="labels">Title:</span>  <h:inputText class="inputs" id="title" value="#{product.title}" /><h:message for="title" style="color:red" /><br/>
				<span class="labels">Movie Image:</span>  <h:selectOneMenu value="#{product.imgLocation}">
									<f:selectItem itemValue="resources/images/MoviePosters/BladeRunner.png" itemLabel="Blade Runner"/>
									<f:selectItem itemValue="resources/images/MoviePosters/LotR.png" itemLabel="Lord of the Rings"/>
								</h:selectOneMenu><br/>
				<span class="labels">Year:</span>   <h:inputText class="inputs" id="Year" value="#{product.year}" /><h:message for="year" style="color:red" /><br/>
				<span class="labels">Genre: </span> <h:inputText class="inputs" id="Genre" value="#{product.genre}" /><h:message for="genre" style="color:red" /><br/>
				<span class="labels">Movie Rating:</span>  <h:inputText class="inputs" id="movieRating" value="#{product.movieRating}" /><h:message for="movieRating" style="color:red" /><br/>
				<span class="labels">Studio: </span> <h:inputText class="inputs" id="studio" value="#{product.studio}" /><h:message for="studio" style="color:red" /><br/>
				<span class="labels">Director: </span> <h:inputText class="inputs" id="director" value="#{product.director}" /><h:message for="director" style="color:red" /><br/>
				<span class="labels">Movie Length: </span> <h:inputText class="inputs" id="movieLegnth" value="#{product.movieLength}" /><h:message for="movieLength" style="color:red" /><br/>
				<span class="labels">Rental Rate: </span> <h:inputText class="inputs" id="rentalRate" value="#{product.rentalRate}" /><h:message for="rentalRate" style="color:red" /><br/>
				<span class="labels">Inventory Count: </span> <h:inputText class="inputs" id="inventoryCount" value="#{product.inventoryCount}" /><h:message for="inventoryCount" style="color:red" /><br/>
				<h:commandButton class="btn btn-primary buttons" value="Add Movie" action="#{movieController.addMovie(product)}" />
				<h:button class="btn btn-secondary buttons" value="Back" outcome="MainPage.xhtml"/><br/>
			</div>
		</h:form>
		
	</ui:define>
</ui:composition>


</body>
</html>
