<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>Login Index page</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</h:head> 
<body> 
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<div class="forms">
					<span class="labels">Username:  </span><h:inputText class="inputs" value="#{user.userName}" /><br/>
					<span class="labels">Password:  </span><h:inputSecret class="inputs" value="#{user.password}"/><br/>
					<br/>
					<h:button class="btn btn-secondary buttons" value="Register" outcome="Registration.xhtml"/>
					<h:commandButton class="btn btn-primary buttons" value="Login" action="#{loginController.onLogin()}"/>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
