<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</h:head> 
<body> 
<div align="center"> 
<ui:composition template="/layouts/commonLayout.xhtml">
<ui:define name="content">

	<form  method="post" action="j_security_check">
	<div class="forms">
		<span class="labels">Username:  </span> <h:inputText id="j_username" autocomplete="off" /><br/>
		<span class="labels">Password:  </span> <h:inputSecret id="j_password" autocomplete="off" /><br/><br/>
		<h:commandButton class="btn btn-primary buttons" type="submit" value="Submit" />
		<h:button class="btn btn-secondary buttons" value="Register" outcome="Registration.xhtml"/>
	</div>
		
	</form>
</ui:define>
</ui:composition>

</div>


</body> 
</html>
