<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat"
		rel="stylesheet" />
</h:head>
<body class="background">
	<div>
		<ui:composition template="/layouts/commonLayout.xhtml">
			<ui:define name="content">
				<h:form>
					<h4>Movies available</h4>
					<h:dataTable value="#{daoController.getAllMovies()}" var="m"
						styleClass="user-table" headerClass="user-table-header"
						rowClasses="user-table-odd-row, user-table-even-row">

						<h:column>
							<h:link outcome="MovieInfoPage.xhtml">
								<h:graphicImage value="#{m}" />
							</h:link>
						</h:column>


					</h:dataTable>
					<br />


					<h:commandButton action="#{movieController.logout}" value="Log Out" />
				</h:form>

				<div id="menu" align="right">
					<ui:insert name="menu">
						<ui:include src="/layouts/commonMenu.xhtml" />
					</ui:insert>
				</div>
			</ui:define>
		</ui:composition>
	</div>

</body>
</html>