<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
		<h1>Test</h1>
		#{product.imgLocation}
			<h:form>
				<h:dataTable value="#{daoController.getMovieInfo(movie.imgLocation)}" var="m"
					styleClass="user-table" headerClass="user-table-header"
					rowClasses="user-table-odd-row, user-table-even-row">
					
					<h:column>
						<f:facet name="header">Title</f:facet>
						<h:inputText value="#{m.title}" />
					</h:column>
					<h:column>
						<f:facet name="header">Year</f:facet>
						<h:inputText value="#{m.year}" />
					</h:column>
					<h:column>
						<f:facet name="header">Genre</f:facet>
						<h:inputText value="#{m.genre}" />
					</h:column>
					<h:column>
						<f:facet name="header">Movie Rating</f:facet>
						<h:inputText value="#{m.movieRating}" />
					</h:column>
					<h:column>
						<f:facet name="header">Studio</f:facet>
						<h:inputText value="#{m.studio}" />
					</h:column>
					<h:column>
						<f:facet name="header">Director</f:facet>
						<h:inputText value="#{m.director}" />
					</h:column>
					<h:column>
						<f:facet name="header">Movie Length</f:facet>
						<h:inputText value="#{m.movieLength}" />
					</h:column>
					<h:column>
						<f:facet name="header">Rental Rate</f:facet>
						<h:inputText value="#{m.rentalRate}" />
					</h:column>
					<h:column>
						<f:facet name="header">Inventory Count</f:facet>
						<h:inputText value="#{m.inventoryCount}" />
					</h:column>

				</h:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
