<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
<h:head>
	<title>User Registration Page</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</h:head> 
<body class="background"> 
<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
				<h:form>
				<div class="forms">
					<span class="labels">First Name:  </span><h:inputText class="inputs" id="firstName" value="#{user.firstName}" /><h:message for="firstName" style="color:red" /><br/>
					<span class="labels">Last Name:  </span><h:inputText class="inputs" id="lastName" value="#{user.lastName}" /><h:message for="lastName" style="color:red" /><br/>
					<span class="labels">Phone Number: </span><h:inputText class="inputs" id="phoneNumber" value="#{user.phoneNumber}" /><h:message for="phoneNumber" style="color:red" /><br/>
					<span class="labels">Street Address:  </span><h:inputText class="inputs" id="streetAddress" value="#{user.streetAddress}" /><h:message for="streetAddress" style="color:red" /><br/>
					<span class="labels">City:  </span><h:inputText class="inputs" id="city" value="#{user.city}" /><h:message for="city" style="color:red" /><br/>
					<span class="labels">State:  </span><h:inputText class="inputs" id="state" value="#{user.state}" /><h:message for="state" style="color:red" /><br/>
					<span class="labels">ZipCode:  </span><h:inputText class="inputs" id="zipCode" value="#{user.zipCode}"/><br/>
					<span class="labels">Username:  </span><h:inputText class="inputs" id="userName" value="#{user.userName}" /><h:message for="userName" style="color:red" /><br/> 
					<span class="labels">Password:  </span><h:inputSecret class="inputs" id="password" value="#{user.password}" /><h:message for="password" style="color:red" /><br/>
					<span class="labels">Confirm Password:  </span><h:inputSecret class="inputs" id="confirmPass" value="#{user.confirmPass}"/><br/>
					<h:commandButton class="btn btn-primary buttons" value="Submit" action="#{userDataService.addUser(user)}"/>
					<h:button class="btn btn-secondary buttons" value="Back" outcome="LoginForm.xhtml"/><br/>
				</div>
				</h:form>
		</ui:define>
	</ui:composition>

</body> 
</html>
