<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
			<h:form>
				<div class="forms">
					<h:commandButton class="btn btn-primary buttons"
						value="Get All Users"
						action="#{daoController.getAllUsers()}" />
				</div>

				<h:dataTable value="#{users.users}" var="u" styleClass="user-table"
					headerClass="user-table-header"
					rowClasses="user-table-odd-row, user-table-even-row">

					<h:column>
						<f:facet name="header">Edit</f:facet>
						<h:commandLink action="#{user.editAction(u)}" value="Edit"
							rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">Delete</f:facet>
						<h:commandLink action="#{daoController.deleteUser(u)}" value="Delete"
							rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">User ID</f:facet>
						<h:inputText value="#{u.userId}" size="10" rendered="#{u.editable}" />
						<h:outputText value="#{u.userId}" rendered="#{not u.editable}" />
					</h:column>

					<h:column>
						<f:facet name="header">Role</f:facet>
						<h:inputText value="#{u.role}" size="10" rendered="#{u.editable}" />
						<h:outputText value="#{u.role}" rendered="#{not u.editable}" />
					</h:column>

					<h:column>
						<f:facet name="header">First Name</f:facet>
						<h:inputText value="#{u.firstName}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.firstName}" rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">Last Name</f:facet>
						<h:inputText value="#{u.lastName}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.lastName}" rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">Phone Number</f:facet>
						<h:inputText value="#{u.phoneNumber}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.phoneNumber}"
							rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">Street Address</f:facet>
						<h:inputText value="#{u.streetAddress}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.streetAddress}"
							rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">City</f:facet>
						<h:inputText value="#{u.city}" size="10" rendered="#{u.editable}" />
						<h:outputText value="#{u.city}" rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">State</f:facet>
						<h:inputText value="#{u.state}" size="10" rendered="#{u.editable}" />
						<h:outputText value="#{u.state}" rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">Zip Code</f:facet>
						<h:inputText value="#{u.zipCode}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.zipCode}" rendered="#{not u.editable}" />
					</h:column>
					<h:column>
						<f:facet name="header">User Name</f:facet>
						<h:inputText value="#{u.userName}" size="10"
							rendered="#{u.editable}" />
						<h:outputText value="#{u.userName}" rendered="#{not u.editable}" />
					</h:column>

				</h:dataTable>
				<br />
				<h:commandButton class="btn btn-primary buttons" action="#{users.saveAction()}" value="Save" />
				<h:commandButton class="btn btn-primary buttons" action="#{daoController.updateUser()}" value="Update" />
				<h:button class="btn btn-primary buttons" value="Back" outcome="MainPage.xhtml"/>
				<h:button class="btn btn-primary buttons" value="Delete"/><br/>
			</h:form>
		</ui:define>
	</ui:composition>

</body>
</html>
