
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

.user-table{   
	border-collapse:collapse;
}

.user-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.user-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.user-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.labels{
	font-family: 'Montserrat';
	color: white;
}

.background{
	background-image: url('images/background.png');
}

.buttons{
	font-family: 'Montserrat';
	padding: 10px;
	margin: 8px 4px 0px 4px;
}
.inputs{
	margin: 8px 0px 0px 0px;
}

.forms{
	background-color: #333333;
	width: 20em;
	padding: 50px;
	border-radius: 25px;
	margin: 50px;
	box-shadow: 0 0 0 3px #017bff;
}
