<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet name="common-style.css" library="css" />
	<style>
.sidemenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	botton: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 30px;
	padding-bottom: 70px;
}

.sidemenu .buttons{
margin-top: 100%;
margin-right: 15px;
}

.sidemenu .buttonsBtnBtn-secondary {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	font-size: 20px;
}

.sidemenu .closebtn {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5;
	width: 50px;
	height: 50px;
	padding: 5px 5px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-right .5s;
	padding: 16px;
}

@media screen and (max-height: 500px) {
	.sidemenu {
		padding-top: 15px;
	}
	.sidemenu {
		padding-bottom: 15px;
	}
}
</style>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous" />
</h:head>
<body>

	<div id="divmenu" class="sidemenu">
		<h:button class="closebtn" value="X" onclick="closeMenu()">;</h:button>
		<br />
		<div id="ButtonCollum" class="buttons">
		<h:button class="buttonsBtnBtn-secondary" id="add" value="Add"
			outcome="AddMovie.xhtml"></h:button>
		<br />
		<h:button class="buttonsBtnBtn-secondary" id="edit" value="Edit"></h:button>
		<br />
		<h:button class="buttonsBtnBtn-secondary" id="remove" value="Remove"></h:button>
		<br />
		<h:button class="buttonsBtnBtn-secondary" id="users" value="Users" outcome="UpdateUser.xhtml"></h:button>
		<br />
		<h:commandButton class="buttonsBtnBtn-secondary" id="logout" action="#{movieController.logOut()}" value="Log Out" />
		</div>

	</div>

	<div id="main">
		<button class="openbtn" onclick="openMenu()">&#9776; Menu</button>
	</div>

	<script>
function openMenu(){
	document.getElementById("divmenu").style.width = "150px";
	document.getElementById("main").style.marginright = "50px";
}

function closeMenu(){
	document.getElementById("divmenu").style.width = "0";
	document.getElementById("main").style.marginright = "0";	
}
</script>
</body>
</html>

