<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<h:outputStylesheet name="common-style.css" library="css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</h:head> 
<body class="background"> 
	<div id="page">
		<div id="header" align="center">
			<ui:insert name="header">
			<ui:include src="/layouts/commonHeader.xhtml"/>
			</ui:insert>
		</div>
		
		<div id="content" align="center">
			<ui:insert name="content">
			<ui:include src="/layouts/commonContent.xhtml"/>
			</ui:insert>
		</div>
		
		<div id="footer">
			<ui:insert name="footer">
			<ui:include src="/layouts/commonFooter.xhtml"/>
			</ui:insert>
		</div>
		

	
	</div>

</body> 
</html>
